@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,700&family=Smooch&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
h3{
    font-family: 'Smooch', cursive;
    color: var(--theme-color);
    font-size: 34px;
    font-weight: 300;
}
:root {
    --theme-color: #c59d5f;
    --text-dark: #000;
    --bg-grey: #121212;
    --text-white: #fff;
    --text-grey: rgb(63 61 61 / 80%);
    --dark-grey: #5e646a;
    --fonts: "PT Serif", serif;
}
a{
    text-decoration: none;
}
.title h2{
    font-size: 40px;
}
.theme-color{
    background-color: var(--theme-color);
}
.text-grey{
    color: var(--text-grey) !important;
}
.bg-grey{
    background-color: var(--bg-grey);
}
.text-theme{
    color: var(--theme-color);
}

/* HEADER */
header {
    z-index: 99;
    position: relative;
}
.navbar-nav li a{
    color: #222;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.navbar-nav li a:hover{
    color: var(--theme-color);
}
.theme-btn{
    background-color: var(--theme-color);
    color: var(--text-white);
    border-radius: 7px;
}
.theme-btn:hover{
    background-color: #d4ae75;
    color: var(--text-white);
}
.header-btn:hover{
    color: var(--theme-color) ;
}
a{
    text-decoration: none;
    color: var(--text-white);
}
li{
    list-style: none;
}
.carousel-indicators {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px; /* Adjust as needed */
}
.carousel-indicators li {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 6px;
    height: 6px;
    margin: 5px;
    cursor: pointer;
}
.carousel-indicators .active {
    background-color: var(--text-white);
    border: 1px solid var(--theme-color);
}

/* BANNER */
.banner-1{
    background-image: url(../image/banner-1.jpg);
    background-size: cover;
}
.banner-2{
    background-image: url(../image/banner-2.jpg);
    background-size: cover;
}
.banner-3{
    background-image: url(../image/banner-3.jpg);
    background-size: cover;
}
h1{
    font-size: 55px;
    font-weight: 400;
}
.banner-content h4{
    font-weight: 400;
}
p{
    font-size: 13px;
    line-height: 24px;
    padding-bottom: 10px;
    font-weight: 400;
    color: var(--dark-grey);
    margin-bottom: 0;
}

/* SUB-BANNER */
.brush-dec, .brush-dec2 {
    bottom: 0;
    background: url(../image/brush-dec.png);
    position: absolute;
    left: 0;
    z-index: 20;
    height: 40px;
    width: 100%;
    z-index: 20;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    background-repeat: repeat;
    background-origin: content-box;
}
.brush-dec2 {
    top: 0;
    background: url(../image/brush-dec_2.png);
}
.sub-banner{
    background-image: url(../image/bg.jpg);
    background-size: cover;
    float: left;
    width: 100%;
    position: relative;
    z-index: 5;
}
.testi-item {
    background: var(--text-white);
    transition: all .3s ease-in-out;
    position: relative;
    margin-top: 50px;
}
.testi-avatar img {
    width: 90px;
    height: 90px;
    float: left;
    border-radius: 100%;
    position: relative;
    z-index: 2;
}
.testimonilas-text {
    padding: 75px 50px 20px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #eee;
    transition: all .3s ease-in-out;
    background: #f9f9f9;
    text-align: center;
}
.testimonilas-text h3 {
    font-weight: 600;
    font-family: var(--fonts);
    color: var(--text-black);
    font-size: 18px;
    padding-bottom: 20px;
}
.star-rating {
    color: var(--theme-color);
    padding-bottom: 20px;
}
.star-rating i {
    margin: 0 2px;
    font-size: 13px;
}
.testimonilas-text::after {
    content: "\f10e";
    bottom: 20px;
    right: 25px;
    font-family: Font Awesome\ 5 Pro;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    opacity: .3;
    font-size: 32px;
    transition: all 400ms linear;
}
.testi-avatar {
    position: absolute;
    left: 50%;
    top: -30px;
    width: 90px;
    height: 90px;
    margin-left: -45px;
    z-index: 20;
}
.testi-avatar:before {
    content: '';
    position: absolute;
    border-radius: 100%;
    left: -8px;
    bottom: -8px;
    right: -8px;
    top: -8px;
    border: 1px solid #eee;
    z-index: 1;
    background: #fff;
}
.sub-banner .section-title {
    float: left;
    width: 100%;
    position: relative;
    z-index: 5;
    text-align: center;
}
.sub-banner .section-title h2{
    font-size: 38px;
}
.section-title h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    font-family: var(--fonts);
    margin-bottom: 0;
}
.section-title h4{
    font-family: var(--fonts);
    font-style: italic;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
    color: #C19D60;
    margin-bottom: 0;
}
.sub-banner h1{
    font-size: 40px;
}
.sub-banner-main {
    padding: 210px 0 120px;
    z-index: 21;
}
.sub-banner-main.hidden-section {
    overflow: hidden;
}
.sub-banner .container {
    max-width: 1224px;
    width: 92%;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}
.container::before, .row::before, .vc_column-inner::before {
    content: " ";
    display: table;
}
.sub-banner .container::after {
    clear: both;
    content: " ";
    display: table;
}
.dots-separator {
    margin: 10px 0 30px;
}
.dots-separator span {
    float: none;
    display: inline-block;
    width: 60px;
}
.dots-separator span:after {
    content: '\25CF\25CF\25CF\25CF\25CF\25CF';
    color: #C19D60;
    font-size: 7px;
    letter-spacing: 4px;
}
.dots-separator.black span:after {
    color: #333;
}
.fl-wrap {
    float: left;
    width: 100%;
    position: relative;
}
#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    z-index: 3;
}
.container {
    max-width: 1224px;
    width: 92%;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    padding: 0;
}
.bg{
    top: 0;
    background-image: url("../image/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.pt-450px {
    padding-top: 450px;
}
.pb-big {
    padding-bottom: 100px;
}
.align-text-block {
    max-width: 735.15px;
    padding: 25px 30px;
    background: #f5f5f5;
    border: 1px solid #eee;
    font-family: var(--fonts);
    font-style: italic;
    margin-bottom: 100px;
}
.align-text-block h4{
    font-size: 21px;
}

/* ABOUT */
.about .section-title h2 {
    color: #323246;
}
.about .carousel::before {
    border-color: var(--theme-color) !important;
    content: '';
    position: absolute;
    left: 50px;
    bottom: -50px;
    right: 50px;
    height: 150px;
    background: #f9f9f9;
    border: 1px dotted;
}
.about-wrap {
    z-index: 10;
}
.inline-facts-wrap {
    float: left;
    width: 25%;
    position: relative;
}
.parallax-section {
    height: 343px;
    width: 100%;
    top: 0;
    position: relative;
}
.parallax-section .bg {
    height: 100%;
}
.parallax-section .container {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    transform: translate(0, -50%);
    text-align: center;
}
.parallax-section .num {
    font-family: var(--fonts);
    color: var(--theme-color);
    font-size: 48px;
    font-weight: 600;
}
.team-box {
    float: left;
}
.team-photo {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.respimg {
    width: 100%;
    height: 300px;
}
.team-photo .overlay {
    opacity: 0;
    transition: all .2s ease-in-out;
}
.team-photo:hover .overlay {
    opacity: 0.5;
}
.team-photo:hover .team-social {
    opacity: 1;
}
.team-info {
    border: 1px solid #eee;
    padding: 25px 30px 40px;
    border-top: none;
    background: var(--text-white);
}
.team-info h4 {
    font-size: 13px;
}
.team-info:after {
    position: absolute;
    content: '\25CF\25CF\25CF';
    width: 50px;
    left: 50%;
    bottom: 10px;
    margin-left: -25px;
    font-size: 6px;
    letter-spacing: 4px;
    color: #C19D60 !important;
}
.team-info h3 {
    display: block;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    color: var(--text-dark);
    text-align: center;
    font-family: var(--fonts);
}
.team-social {
    position: absolute;
    top: 50%;
    height: 40px;
    left: 20px;
    right: 20px;
    opacity: 0;
    line-height: 40px;
    margin-top: -20px;
    z-index: 5;
    transition: all .3s ease-in-out;
    padding: 0 10px;
}
.color-bg {
    background: var(--theme-color);
    padding: 10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: var(--text-white);
}
.video-section .bg{
    height: 400px !important;
}
.ts_title {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    font-family: var(--fonts);
    font-size: 16px;
    color: var(--text-white);
    font-weight: 700;
}
.team-social li {
    margin: 0px 2px;
    display: inline-block;
    text-align: center;
}
.team-photo::before, .team-photo::after {
    border-color: #C19D60 !important;
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 20;
}
.team-photo::before {
    top: 20px;
    left: 20px;
    border-left: 1px dotted;
    border-top: 1px dotted;
}
.team-photo::after {
    bottom: 20px;
    right: 20px;
    border-right: 1px dotted;
    border-bottom: 1px dotted;
}
.our-team {
    padding: 100px 0;
}
.inline-facts h6 {
    padding-top: 20px;
    font-weight: 600;
    position: relative;
    color: #fff;
}
.fl-wrap {
    float: left;
    width: 100%;
    position: relative;
}
.video_section-title {
    padding: 100px 0;
}
.video_section-title h4 {
    font-size: 14px;
    color: var(--theme-color);
    padding-bottom: 20px;
}
.video_section-title h2 {
    font-size: 32px;
    font-weight: 800;
    color: var(--text-white);
    font-family: var(--fonts);
}
.big_prom {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}
.big_prom::before {
    border-color: var(--theme-color) !important;
    content: '';
    position: absolute;
    left: -10px;
    top: -10px;
    bottom: -10px;
    right: -10px;
    border: 1px solid;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    z-index: 1;
    transform: scale(1.0);
    transition: all 300ms ease-out;
}
.parallax-section.video-section {
    overflow: hidden;
}
a.menu-btn {
    padding: 14px 20px 14px 35px;
    display: inline-block;
    position: relative;
    font-family: var(--fonts);
    color: var(--text-white);
    margin-top: 15px;
    background: #292929;
    font-weight: 500;
    transition: all 200ms linear;
    font-size: 13px;
    color: var(--text-white);
}
a.menu-btn:hover {
    background: var(--theme-color);
}
.menu-btn svg {
    margin-left: 30px;
    transition: all 400ms linear;
    position: relative;
}

/* FOOTER */
footer h3{
    font-family: var(--fonts);
    font-size: 18px;
}
.footer-icon i{
    width: 30px;
    height: 30px;
    background-color: var(--text-white);
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    margin-right: 10px;
}
.footer-icon i:hover {
    background-color: var(--theme-color);
    color: var(--text-white);
}
.line{
    position: relative;
}
.line::after{
    content: '';
    width: 60px;
    height: 4px;
    background: var(--theme-color);
    position: absolute;
    bottom: -4px;
    right: 0;
    left: 20px;
    border-radius: 2px;
    transition: all 0.4s ease;
}    
.line::before{
    content: '';
    width: 13px;
    height: 4px;
    background: var(--theme-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    border-radius: 2px;
    transition: all 0.4s ease;
}
.contact:hover .line::after{
    width: 13px;
    left: 70px;
}
.contact:hover .line::before{
    width: 60px;
}
.form-newsletter{
    padding: 8px 10px;
    width: 100%;
}
form input{
    font-size: 14px;
}
.footer-bottom {
    background: var(--bg-grey);
    padding: 14px 0 7px;
}

/* UP-BUTTON */
.arrow{
    background-color: var(--theme-color);
    bottom: 40px;
    right: 40px;
    font-size: 20px;
}
